<div class="products-grid">
    <header>
        <h3 class="head text-center">Latest Products</h3>
    </header>
    <div class="col-md-4 product simpleCart_shelfItem text-center">
        <a href="single.html"><img src="@Url.Content("~/Content/Images")/p1.jpg" alt="" /></a>
        <div class="mask">
            <a href="single.html">Quick View</a>
        </div>
        <a class="product_name" href="single.html">Sed ut perspiciatis</a>
        <p><a class="item_add" href="#"><i></i> <span class="item_price">$329</span></a></p>
    </div>
    <div class="col-md-4 product simpleCart_shelfItem text-center">
        <a href="single.html"><img src="@Url.Content("~/Content/Images")/p2.jpg" alt="" /></a>
        <div class="mask">
            <a href="single.html">Quick View</a>
        </div>
        <a class="product_name" href="single.html">great explorer</a>
        <p><a class="item_add" href="#"><i></i> <span class="item_price">$599.8</span></a></p>
    </div>
    <div class="col-md-4 product simpleCart_shelfItem text-center">
        <a href="single.html"><img src="@Url.Content("~/Content/Images")/p3.jpg" alt="" /></a>
        <div class="mask">
            <a href="single.html">Quick View</a>
        </div>
        <a class="product_name" href="single.html">similique sunt</a>
        <p><a class="item_add" href="#"><i></i> <span class="item_price">$359.6</span></a></p>
    </div>
    <div class="col-md-4 product simpleCart_shelfItem text-center">
        <a href="single.html"><img src="@Url.Content("~/Content/Images")/p4.jpg" alt="" /></a>
        <div class="mask">
            <a href="single.html">Quick View</a>
        </div>
        <a class="product_name" href="single.html">shrinking </a>
        <p><a class="item_add" href="#"><i></i> <span class="item_price">$649.99</span></a></p>
    </div>
    <div class="col-md-4 product simpleCart_shelfItem text-center">
        <a href="single.html"><img src="@Url.Content("~/Content/Images")/p5.jpg" alt="" /></a>
        <div class="mask">
            <a href="single.html">Quick View</a>
        </div>
        <a class="product_name" href="single.html">perfectly simple</a>
        <p><a class="item_add" href="#"><i></i> <span class="item_price">$750</span></a></p>
    </div>
    <div class="col-md-4 product simpleCart_shelfItem text-center">
        <a href="single.html"><img src="@Url.Content("~/Content/Images")/p6.jpg" alt="" /></a>
        <div class="mask">
            <a href="single.html">Quick View</a>
        </div>
        <a class="product_name" href="single.html">equal blame</a>
        <p><a class="item_add" href="#"><i></i> <span class="item_price">$295.59</span></a></p>
    </div>
    <div class="col-md-4 product simpleCart_shelfItem text-center">
        <a href="single.html"><img src="@Url.Content("~/Content/Images")/p7.jpg" alt="" /></a>
        <div class="mask">
            <a href="single.html">Quick View</a>
        </div>
        <a class="product_name" href="single.html">Neque porro</a>
        <p><a class="item_add" href="#"><i></i> <span class="item_price">$380</span></a></p>
    </div>
    <div class="col-md-4 product simpleCart_shelfItem text-center">
        <a href="single.html"><img src="@Url.Content("~/Content/Images")/p8.jpg" alt="" /></a>
        <div class="mask">
            <a href="single.html">Quick View</a>
        </div>
        <a class="product_name" href="single.html">perfectly simple</a>
        <p><a class="item_add" href="#"><i></i> <span class="item_price">$540.6</span></a></p>
    </div>
    <div class="col-md-4 product simpleCart_shelfItem text-center">
        <a href="single.html"><img src="@Url.Content("~/Content/Images")/p9.jpg" alt="" /></a>
        <div class="mask">
            <a href="single.html">Quick View</a>
        </div>
        <a class="product_name" href="single.html">praising pain</a>
        <p><a class="item_add" href="#"><i></i> <span class="item_price">$229.5</span></a></p>
    </div>
    <div class="clearfix"></div>
</div>
