
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/SubLayout.cshtml";
  //  @Html.Action("Products", "Menu")
}



        <div class="new-product">
            <div class="new-product-top">
                <ul class="product-top-list">
                    <li><a href="index.html">Home</a>&nbsp;<span>&gt;</span></li>
                    <li><span class="act">Best Sales</span>&nbsp;</li>
                </ul>
                <p class="back"><a href="index.html">Back to Previous</a></p>
                <div class="clearfix"></div>
            </div>
            <div class="mens-toolbar">
                <div class="sort">
                    <div class="sort-by">
                        <label>Sort By</label>
                        <select>
                            <option value="">
                                Position
                            </option>
                            <option value="">
                                Name
                            </option>
                            <option value="">
                                Price
                            </option>
                        </select>
                        <a href=""><img @Url.Content("~/Content/Images")/arrow2.gif" alt="" class="v-middle"></a>
                    </div>
                </div>
                <ul class="women_pagenation">
                    <li>Page:</li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>


            <!---728x90--->
            <div id="cbp-vm" class="cbp-vm-switcher cbp-vm-view-grid">
                <div class="cbp-vm-options">
                    <a href="#" class="cbp-vm-icon cbp-vm-grid cbp-vm-selected" data-view="cbp-vm-view-grid" title="grid">Grid View</a>
                    <a href="#" class="cbp-vm-icon cbp-vm-list" data-view="cbp-vm-view-list" title="list">List View</a>
                </div>
                <div class="pages">
                    <div class="limiter visible-desktop">
                        <label>Show</label>
                        <select>
                            <option value="" selected="selected">
                                9
                            </option>
                            <option value="">
                                15
                            </option>
                            <option value="">
                                30
                            </option>
                        </select> per page
                    </div>
                </div>
                <div class="clearfix"></div>
                <ul>


                    @foreach (var product in ViewBag.products)
                    {
                        <li>
                            <a class="cbp-vm-image" href="@Url.Action("Single","Products", new {id = product.product_id })">
                            </a><div class="simpleCart_shelfItem">
                                <a class="cbp-vm-image" href="@Url.Action("Single","Products", new {id = product.product_id })">
                                    <div class="view view-first">
                                        <div class="inner_content clearfix">
                                            <div class="product_image">
                                                <img src="@Url.Content(@product.Product_Image[0].image_url)" class="img-responsive" alt="">
                                                <div class="mask">
                                                    <div class="info">Quick View</div>
                                                </div>
                                                <div class="product_container">
                                                    <div class="cart-left">
                                                        <p class="title">@product.product_name</p>
                                                    </div>
                                                    <div class="pricey"><span class="item_price">@product.product_price</span></div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div class="cbp-vm-details">
                                   @product.product_description
                                </div>
                                <a class="cbp-vm-icon cbp-vm-add item_add" href="#">Add to cart</a>
                            </div>
                        </li>
                    }




                </ul>
            </div>
        </div>

